#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ignore PHPStorm IDE settings
.idea

# Ignore the lock file, because this is a Terraform module
.terraform.lock.hcl
